<ion-header>
  <ion-navbar color="m-{{settings.themeColor}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MY_WALLET' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="element_content">
    <!--Balance-->
    <ion-list>
      <ion-list-header>
        {{'CHECK_BALANCE' | translate}}
      </ion-list-header>
      <button ion-item (click)="onToggelCredit()">
        <p item-start>{{'AED' | translate}} &nbsp; &nbsp; &nbsp;</p>

        {{'MY_ACCOUNT' | translate}}
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </button>
      <button ion-item *ngIf="showAcount" style="background-color: #f5f5f5">
        <div class="masser_card">
          <img src="img/card-logo.png">
          <p text-center>{{account.massarCard}}</p>
          <span>{{'AED' | translate}}</span>
        </div>
      </button>
      <button ion-item (click)="onCheckBlaneios()">
        <ion-icon name="ios-card-outline" item-start></ion-icon>
        {{'MASAAR_CARD' |translate}}
        <img *ngIf="platform.is('android')" src="img/nfc-t.gif" item-end style="width:50px">
      </button>

      <button ion-item *ngIf="showCard" style="background-color: #f5f5f5">
        <div class="masser_card">
          <img src="img/card-logo.png">
          <p text-center>{{balance.massarCardBlance}}</p>
          <span>{{'AED' | translate}}</span>
        </div>
      </button>

    </ion-list>
    <!--Topup-->
    <ion-list>
      <ion-list-header>
        {{'TOPUP_CREDIT' | translate}}
      </ion-list-header>
      <button ion-item (click)="onGoToTopUp()">
        <ion-icon name="ios-person-outline" item-start></ion-icon>
        {{'MY_ACCOUNT' | translate}}
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </button>
      <button ion-item (click)="onGoToTopUpMasar()">
        <ion-icon name="ios-color-wand-outline" item-start></ion-icon>
        {{'MASAAR_CARD' | translate}}
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </button>

    </ion-list>
    <!--Promotion-->
    <ion-list>
      <ion-list-header>
        {{'MASAAR_PROMOTIONS' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-pricetags-outline" item-start></ion-icon>
        Topup your account by 40 AED get 10 FREE
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-pricetags-outline" item-start></ion-icon>
        Topup your Masaar card and git one ride FREE
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
    </ion-list>
    <!--Transaction-->
    <ion-list [hidden]="true">
      <ion-list-header>
        {{'TRANSACTIONS' | translate}}
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-swap-outline" item-start></ion-icon>
        {{'SHOW_LAST_5_TRANSACTION' |translate}}
        <ion-icon *ngIf="platform.is('android')" name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
