<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>343672419152-nvjd4m2q461sif8hqeb9m4nc5mip1khd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.343672419152-nvjd4m2q461sif8hqeb9m4nc5mip1khd</string>
	<key>API_KEY</key>
	<string>AIzaSyAGyxtumI8rTznaIuJxnN6z8HNC0Q7iLuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>343672419152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.incube.ajmanptc</string>
	<key>PROJECT_ID</key>
	<string>masaarajman</string>
	<key>STORAGE_BUCKET</key>
	<string>masaarajman.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:343672419152:ios:215c05a78348a45e</string>
	<key>DATABASE_URL</key>
	<string>https://masaarajman.firebaseio.com</string>
</dict>
</plist>