<!--Header-->
<ion-header>
  <ion-navbar color="m-{{settings.themeColor}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'SETTINGS' | translate}}</ion-title>
    <ion-buttons large end>
      <button type="submit" *ngIf="editMode" large ion-button (click)="onUpdatePersonalSettings()">
        {{'SAVE' | translate}}
      </button>
      <button item-end *ngIf="editMode" large ion-button (click)="closeEditMode()">
        <ion-icon name="close"></ion-icon>
      </button>
      <button *ngIf="!editMode" large ion-button (click)="openEditMode()">
        {{'EDIT' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="element_content">

    <!--Edit Mode Form-->
    <form *ngIf="editMode" #myForm="ngForm">
      <ion-item-divider> {{"PERSONAL_INFO" | translate}}</ion-item-divider>
      <ion-list inset>
        <ion-row>
          <ion-col ion-item col-6>
            <ion-label stacked color="dark-gray-custom">{{'FIRST_NAME' | translate}}</ion-label>
            <ion-input required name="firstName" [(ngModel)]="acc.userLoginSuccess.FirstName"
                       color="m-{{settings.themeColor}}"
                       type="text"></ion-input>
          </ion-col>
          <ion-col ion-item col-6>
            <ion-label stacked color="dark-gray-custom">{{'LAST_NAME' | translate}}</ion-label>
            <ion-input required name="lastName" [(ngModel)]="acc.userLoginSuccess.LastName"
                       color="m-{{settings.themeColor}}" type="text"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <!--<ion-col ion-item col-4>
            <ion-label stacked color="dark-gray-custom">{{'CODE' | translate}}</ion-label>
            <ion-input disabled required placeholder="+971" name="code" ngModel color="m-{{settings.themeColor}}"
                       type="number"></ion-input>
          </ion-col>-->
          <ion-col ion-item>
            <ion-label stacked color="dark-gray-custom">{{'PHONE_NUMBER' | translate}}</ion-label>
            <ion-input disabled required name="phone" [(ngModel)]="acc.userLoginSuccess.Phone"
                       color="m-{{settings.themeColor}}"
                       type="number"></ion-input>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list inset>
        <ion-item>
          <ion-label color="dark-gray-custom" stacked>{{'POBOX' | translate}}</ion-label>
          <ion-input required name="pobox" required [minlength]="3" [(ngModel)]="acc.userLoginSuccess.POBox"
                     color="m-{{settings.themeColor}}"
                     type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="dark-gray-custom" stacked>{{'EMAIL' | translate}}</ion-label>
          <ion-input required name="email" required [minlength]="8" [(ngModel)]="acc.userLoginSuccess.Email"
                     color="m-{{settings.themeColor}}"
                     type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="dark-gray-custom" stacked>{{'BILLING_ADDRESS' | translate}}</ion-label>
          <ion-input required name="billingaddress" [(ngModel)]="acc.userLoginSuccess.BillingAddress" required
                     [minlength]="4" color="m-{{settings.themeColor}}"
                     type="text"></ion-input>
        </ion-item>
      </ion-list>
      <ion-item-divider>{{'GENERAL_SETTINGS' | translate}}</ion-item-divider>
      <ion-list>
        <ion-item>
          <ion-label>{{'LANGUAGE' | translate}}</ion-label>
          <ion-select name="language" [(ngModel)]="settings.lang" [(ngModel)]="settings.themeColor"
                      okText="{{'OK_BTN' | translate}}" cancelText="{{'CANCEL_BTN' | translate}}">
            <ion-option value="english">English</ion-option>
            <ion-option value="arabic">العربية</ion-option>
            <ion-option value="urdu">ارڈو</ion-option>
          </ion-select>
          <ion-icon name="ios-globe-outline" item-start></ion-icon>

        </ion-item>
        <ion-item>
          <ion-icon name="ios-color-palette-outline" item-start></ion-icon>
          <ion-label>{{'THEME_COLOR' | translate}}</ion-label>
          <ion-select name="themecolor" [(ngModel)]="settings.themeColor" okText="{{'OK_BTN' | translate}}"
                      cancelText="{{'CANCEL_BTN' | translate}}">
            <ion-option value="orange">Orange</ion-option>
            <ion-option value="pink">Pink</ion-option>
            <ion-option value="blue">Blue</ion-option>
          </ion-select>
        </ion-item>
        <ion-item hidden>
          <ion-icon name="md-color-filter" item-start></ion-icon>
          <ion-label>{{'BLIND_MODE' | translate}}</ion-label>
          <ion-toggle disabled checked="false"></ion-toggle>
        </ion-item>
        <ion-item>
          <ion-label>{{'SEARCH_ROUTE' | translate}}</ion-label>
          <ion-select name="searchroute" [(ngModel)]="settings.sortRouteIs" okText="{{'OK_BTN' | translate}}"
                      cancelText="{{'CANCEL_BTN' | translate}}">
            <ion-option value=" bestrout
          ">Best route
            </ion-option>
            <ion-option value="lesstransfers">less transfers</ion-option>
            <ion-option value="lesswalk">Less Walk</ion-option>
          </ion-select>
          <ion-icon name="ios-globe-outline" item-start></ion-icon>
        </ion-item>
      </ion-list>
    </form>
    <!--View Mode-->


    <!--Profile-->
    <ion-list *ngIf="!editMode">
      <ion-list-header>
        <p>{{'PROFILE' | translate}}</p>
      </ion-list-header>
      <ion-item>

        <ion-icon name="ios-person-outline" item-start></ion-icon>
        <h3>{{'NAME' | translate}}</h3>
        <p>{{acc.userLoginSuccess.FirstName}} {{acc.userLoginSuccess.LastName}}</p>
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-call-outline" item-start></ion-icon>
        <h3>{{'PHONE_NUMBER' | translate}}</h3>
        <p>{{acc.userLoginSuccess.Phone}}</p>
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-mail-outline" item-start></ion-icon>
        <h3>{{'EMAIL' | translate}}</h3>
        <p>{{acc.userLoginSuccess.Email}}</p>
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
    </ion-list>
    <!--General-->
    <ion-list *ngIf="!editMode">
      <ion-list-header>
        <p>{{'GENERAL_SETTINGS' | translate}}</p>
      </ion-list-header>
      <ion-item>
        <ion-icon name="ios-globe-outline" item-start></ion-icon>
        <h3>{{'LANGUAGE' | translate}}</h3>
        <p>{{settings.lang}}</p>
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-color-palette-outline" item-start></ion-icon>
        <h3>{{'THEME_COLOR' | translate}}</h3>
        <p>{{settings.themeColor}}</p>
      </ion-item>
      <ion-item>
        <ion-icon name="md-color-filter" item-start></ion-icon>
        <ion-label>{{'BLIND_MODE' | translate}}</ion-label>
        <ion-toggle [disabled]="!editMode" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-icon name="ios-browsers-outline" item-start></ion-icon>
        <h3>{{'SORT_BY' | translate}} </h3>
        {{settings.sortRouteIs}}
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="!editMode">
      <ion-item hidden>
        <ion-icon name="ios-lock-outline" item-start></ion-icon>
        {{'CHANGE_PASSWORD' | translate}}
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </ion-item>
      <button ion-item (click)="onSignOut()">
        <ion-icon name="ios-log-out-outline" item-start></ion-icon>
        {{'SIGN_OUT' | translate}}
        <ion-icon name="ios-arrow-forward" color="light-custom" item-end></ion-icon>
      </button>
    </ion-list>
  </div>
</ion-content>
