page-contact-us {
  .background-contact {
    background: url('../assets/img/loginbg.png');
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: cover;
    padding: 0 4%;
    padding-top: 23%;
  }

  .form-area {
    background-color: #ffffff;
    padding: 3%;
    margin: 11%;
    margin-top: 0%;
    border-radius: 9px;
    border: 1px solid #cacaca;
    border: 1px solid #9a9797;

  }

  ion-content {
    background-color: rgba(2, 0, 0, 0.70) !important;
  }
  .item-ios.item-block .item-inner,
  .item-md.item-block .item-inner {
    border-bottom: 0 !important;
  }

  .close-modal button {
    font-size: 25px;
  }
  .close-modal {
    padding-top: 3%;
  }

  @media (max-width: 359px) {
    .background-rate {
      padding-top: 5%;
    }
  }
  @media (max-width: 767px) {
    .modal-cusom-bg {
      background-color: rgba(0, 0, 0, 0.75) !important;
    }

  }
  @media(min-width: 768px) {
    .button-clear-md-light {
      font-size: 25px;
    }
    .modal-cusom-bg {
      background-color: rgba(0, 0, 0, 0.45) !important;
    }
  }
  .content-ios:not([no-bounce]) > .scroll-content::before, .content-ios:not([no-bounce]) > .scroll-content::after {
    width: 0px;
    height: 0px;
  }

  div.scroll-content {
    padding-top: 0px !important;
  }

}
