page-app-review {
  .background-rate {
    width: 100%;
    position: absolute;
    height: 100%;
    background-size: 100%;
    padding: 0 4%;
    padding-top:20%;
    background: transparent !important;
  }
  .faces {
    text-align: center !important;
    background-color: #ffffff;
    padding: 16% 0%;
    border-radius: 20px;
    padding-top: 6%;
  }
  .faces img {
    width: 20%;
    padding: 1%;
  }
  ion-icon.icon.icon-ios.ion-ios-close-circle-outline {
    font-size: 25px;
  }
  @media (max-width: 359px) {
    .background-rate {
      padding-top: 5%;
    }
  }
  @media (max-width: 767px) {
    .modal-cusom-bg {
      background-color: rgba(0, 0, 0, 0.75) !important;
    }

  }
  @media(min-width: 768px) {
    .button-clear-md-light {
      font-size: 25px;
    }
    .modal-cusom-bg {
      background-color: rgba(0, 0, 0, 0.45) !important;
    }
  }
  .content-ios:not([no-bounce]) > .scroll-content::before, .content-ios:not([no-bounce]) > .scroll-content::after {
    width: 0px;
    height: 0px;
  }
  div.scroll-content {
    padding-top: 0px !important;
  }
  .close-modal ion-icon {
    font-size: 30px !important;
  }

  ion-spinner * {
    width: 28px;
    height: 28px;
    stroke: green;
    fill: red;
  }
}
